body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url("3.jpg");
    background-size: cover;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
	height: 400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2 {
	
    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}

.box .inputBox {
    position: relative;
}

.box .inputBox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}


.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events:none;
    transition: .5s; 
}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03a9f4;
    font-size: 15px;
}

.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.bottom-text {
	margin-top:40px;
	font-size:16px;
	
}

@media screen and (max-width:600px)  {
	div.box, div.inputBox , div.bottom-text  {
	width:80%;
	font-size: 12px;
	
}
}