<!-- {% extends 'layout.html' %} -->

<style>
  .form-bootstrap {
    height: 80rem;
    width: 100%;

  }

  
</style>

{% block body %}


<!--Form Section-->
<br><br>
<h2 style="text-align: center; margin:39px; color:black"><b>Get the information for growing the best crops for maximum
    yield</b></h2><br>



<div style="width: 350px; height: 530px; margin: 19px auto;color: white; background-color:black; border-radius: 25px; padding: 10px 10px;">
  <form>
    <div class="form-group">
      <label for="Nitrogen"><b>Nitrogen</b></label>
      <input type="text" class="form-control" id="Nitrogen" placeholder="Enter the value" style="font-weight: bold;">
    </div>
    <div class="form-group">
      <label for="Phosphorous"><b>Phosphorous</b></label>
      <input type="text" class="form-control" id="Phosphorous" placeholder="Enter the value" style="font-weight: bold;">
    </div>
    <div class="form-group">
      <label for="Pottasium"><b>Pottasium</b></label>
      <input type="text" class="form-control" id="Pottasium" placeholder="Enter the value" style="font-weight: bold;">
    </div>
    <div class="form-group">
      <label for="State"><b>State</b></label>
      <select onchange="print_city('state', this.selectedIndex);" id="sts" name="stt" class="form-control"
        required></select>
        <br>
      <label for="City"><b>City</b></label>
      <select id="state" class="form-control" required></select>
      <script language="javascript">print_state("sts");</script>
    </div>

    <button type="submit" class="btn btn-info">Predict</button>
  </form>
</div>


<br> <br> <br>

<!-- Form section -->

{% endblock %}