<!-- {% extends 'layout.html' %} -->

<style>
  .form-bootstrap {
    height: 80rem;
    width: 100%;

  }

  body {
    background-color: rgb(22, 12, 12) !important;
  }
</style>

{% block body %}


<!-- <div class="form-bootstrap"> -->
<!--Form Section-->
<h2 style="text-align: center; margin:90px; color:black"><b>Get the information for growing the best crops for maximum
    yield</b></h2><br>

<div style="width: 350px; height: 800px; margin: -5px auto; padding: 10px 10px; color: black;">
  <form>
    <div class="form-group">
      <label for="Nitrogen"><b>Nitrogen</b></label>
      <input type="text" class="form-control" id="Nitrogen" placeholder="Enter the value" style="font-weight: bold;">
    </div>
    <div class="form-group">
      <label for="Phosphorous"><b>Phosphorous</b></label>
      <input type="text" class="form-control" id="Phosphorous" placeholder="Enter the value" style="font-weight: bold;">
    </div>
    <div class="form-group">
      <label for="Pottasium"><b>Pottasium</b></label>
      <input type="text" class="form-control" id="Pottasium" placeholder="Enter the value" style="font-weight: bold;">
    </div>


    <button type="submit" class="btn btn-info">Predict</button>
  </form>
</div>


<!-- Form section -->

{% endblock %}